name: g++

on:
  push:
    branches:
      - "main"
  pull_request:

env:
  BUILD_TYPE: Debug

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v3
        with:
          submodules: recursive

      - name: Install dependencies
        run: |
          sudo apt-get update
          sudo apt-get install -y cmake g++ build-essential

      - name: Configure CMake
        run: cmake -B build -DCMAKE_BUILD_TYPE=${{env.BUILD_TYPE}} -DCONFIG_BUILD_TESTING=ON

      - name: Build
        run: cmake --build build --config ${{env.BUILD_TYPE}}

      - name: Run tests
        run: cd build && ctest --output-on-failure
